<!DOCTYPE html>
<html lang="en">
    <head>
        <title>AFRMS</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <%- include('../../Partials/head'); %>
    </head>
    <body class="container">


        <header>
        <%- include('../../Partials/FRheader'); %>
        </header>


        <main>
            <div class="jumbotron">
            <h1>Current Mission:</h1>
                    <strong>Mission Status: <%= mission_status %></strong>
                    <p>Author: <%= mission_author_name %> </p>
                    <p>Team: <%= mission_teamName %> </p>
                    <ul>
                        <% mission_events.forEach(function(event) { %>
                        <li>
                            Event Location: <%= event.Location %> </li>
                        </li>
                        <li> Description: <%= event.Description %> </li>
                        <li> Time: <%= event.timestamp %> </li>
                        <p>______________________________________________________</p>
                    <% }); %>
                    </ul>
            <h3>Team Info:</h3>           
                    <strong>Team Name: <%= teamname %></strong>
                    <p>Team Type: <%= teamtype %> </p>
                    <p>Team Status: <%= availability  %> </p>
                    <% members.forEach(function(member) { %> 
                        <li>Name: <%= member.name %> </li>
                        <li>Role: <%= member.role %> </li>
                        <li>Status: <%= member.availability %> </li>
                        <p>____________________________________</p>
                     <% }); %>
            </div>
        </main>

        <footer>
        <%- include('../../Partials/footer'); %>
        </footer> 
    </body>
</html>
