<!DOCTYPE html>
<html lang="en">
    <head>
        <title>AFRMS</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <%- include('../../Partials/head'); %>
    </head>
    <body class="container">


        <header>
        <%- include('../../Partials/FRheader'); %>
        </header>


        <main>
            <div class="jumbotron">
                <h1>Mission Information: </h1>
                    <p>Author: <%= mission_author_name %> </p>
                    <p>Team: <%= mission_teamName %> </p>
                <ul>
                <% mission_events.forEach(function(event) { %>
                    <li>
                    Event Location: <%= event.location %>, Description <%= event.description %> PIN: <%= event.PIN.name %>, Time: <%= event.timestamp %>
                    </li>
                 <% }); %>
                 </ul>
                <form action="/ApproveEvent" method="POST">
                    <input type="text" name="status" value="<%=mission_status%>">
                    <input type ="hidden" name="MissionID" id="id" value="<%=mission._id%>">    
                    <button type="submit">Update Mission</button>
                </form>
            </div>
        </main>

        <footer>
        <%- include('../../Partials/footer'); %>
        </footer> 
    </body>
</html>
