<!DOCTYPE html>
<html lang="en">
    <head>
        <title>AFRMS</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <%- include('../../Partials/head'); %>
    </head>
    <body class="container">


        <header>
        <%- include('../../Partials/ADMINheader'); %>
        </header>


        <main>
            <div class="jumbotron">
            <h1>Users</h1>
                <% users.forEach(function(user) { %>       
                    <p>Username: <%= user.username %> </p>
                    <p>Password: <%= user.password %> </p>
                    <p>name: <%= user.name %> </p>
                    <form action="/ChangeRole" method="POST">
                        <div class="row">
                         <div class="form-group col-sm-4">
                            <select class="form-control" id="sel1" name="role">
                                <option value="" disabled selected>Change Role</option>
                              <option>Admin</option>
                              <option>Operations Chief</option>
                              <option>Dispatcher</option>
                              <option>First Responder</option>
                              <option>PIN</option>
                            </select>
                          </div>
                          <div>
                            <button type="submit">Change Role</button>
                          </div>
                        </div>
                    <input type="text" name="rolex" value="<%=user.role%>">
                    <input type ="hidden" name="UserID" id="id" value="<%=user._id%>">    
                    </form>
                    <% }); %>
            </div>
        </main>

        <footer>
        <%- include('../../Partials/footer'); %>
        </footer> 
    </body>
</html>
